@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli na ETFBay</h1>
    <img src=https://i.ibb.co/HYt7mcQ/viber-image-2022-04-18-00-34-28-459.png />
</div>
